cami_i_hc/* linguist-vendored
cami_ii_mg/* linguist-vendored
cami_ii_mg_filter1/* linguist-vendored
cami_ii_mg_filter1_nonormalization/* linguist-vendored
hmp_mc/* linguist-vendored
cami_i_challenge_submissions/* linguist-vendored
